.participant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  background: #c8c8bd;
}

.participant:not(:first-of-type) {
  margin-top: 5px;
}

.participant.active {
  background: #9c9c92;
}

.participant.active:hover {
  background: #9c9c92;
}

.participant:hover {
  background: #b8b8ae;
}

.participant div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  margin-left: 15px;
}

.participant div:not(:last-of-type) {
  border-right: 5px solid #dcdcd1;
}

.participant .existing_participant {
  width: 65%;
}
