.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  background: #c8c8bd;
}

.user:not(:first-of-type) {
  margin-top: 5px;
}

.user.active {
  background: #9c9c92;
}

.user.active:hover {
  background: #9c9c92;
}

.user:hover {
  background: #b8b8ae;
}

.user div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  margin-left: 15px;
}

.user div:not(:last-of-type) {
  border-right: 5px solid #dcdcd1;
}

.user .existing_role {
  width: 10%;
}

.user .existing_fio {
  width: 30%;
}

.user .existing_birth_date {
  width: 15%;
}

.user .existing_login {
  width: 14%;
}

.user .existing_password {
  width: 14%;
}

.user .existing_sex {
  width: 5%;
}

.user .existing_married {
  width: 15%;
}
