@import "./mixins";

.main_component {
    @include flex(column, center, center);

    width: 100%;
    height: 100%;
    background: rgb(245, 245, 234);
    border-radius: 25px;
    color: black;

    .left_side {
        @include flex(column, flex-start, center);
        
        width: 60%;
        height: 100%;

        .votings {
            @include flex(column, flex-start, center);
            
            overflow: hidden;
            background: rgb(220, 220, 209);
            width: 90%;
            height: 80%;
            margin-top: 25px;
            border-radius: 15px;

            .list {
                @include flex(column, flex-start, center);
                
                overflow: scroll;
                width: 100%;
            }

            .fields {
                @include flex(row, flex-start, center);
                
                transition: .15s ease-out;
                width: 100%;
                min-height: 50px;
                background: rgb(200, 200, 189);
                font-weight: 600;
                font-size: 20px;
                border-bottom: 5px solid rgb(220, 220, 209);

                .field_subject_name {
                    @include flex(row, flex-start, center);
                    
                    min-height: 50px;
                    width: 100%;
                    max-width: 40%;
                    margin-left: 15px;
                }
            }
        }
    }

    .right_side {
        @include flex(column, flex-start, center);
        
        width: 100%;

        .buttons_handler {
            @include flex(row, space-evenly, center);

            width: 75%;
            margin-bottom: 35px;

            button {
                transition: .15s ease-out;
                cursor: pointer;
                margin-top: 40px;
                border-radius: 25px;
                font-size: 18px;
                width: 225px;
                height: 55px;
                color: black;
                background: rgb(168, 219, 53);
    
                &:hover {
                    background: rgb(182, 240, 46);
                }
    
                &:disabled {
                    cursor: unset;
                    background: rgb(95, 99, 87);
                }
            }
        }
    }
}